<h1>Editing referenda</h1>

<%= render "form", referenda: @referenda %>

<br>

<div>
  <%= link_to "Show this referenda", @referenda %> |
  <%= link_to "Back to referendas", referendas_path %>
</div>
